<div class="container-center-horizontal">
  <div class="macbook-1 screen">
    <div class="box1"><h1 class="content1">やるべきことはありますか？</h1></div>
    <div class="background">
      <div class="flex-col">
        <div class="box2"><div class="content2"><h1>ある</h1></div></div>
        <div class="box3"><div class="content3"><h1>ない</h1></div></div>
      </div>
      <div class="box4">
        <img
          class="r700ba2d16c2f4d-bf4644eb525e9-1"
          src="/umustdo.png"
        >
      </div>
    </div>
  </div>
</div>
